@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans';
}
header{
    background: url("https://images.ecestaticos.com/VMKs-wtSgzB98gzLCdepsARw-gU=/0x0:2272x1515/1200x675/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F903%2F70e%2Fd5c%2F90370ed5ccb034390f7a37677598e7a9.jpg");
    background-size: relative;
    background-position:center;
    height: 300px;
    background-color: #000;
    
}
header h1{
    text-align: center;
    font-size: 35px;
    /* background-color: #000; */
    color: #fff;
    padding: 30px 0;
}
.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* seccion carrito */
.carrito{
    border: 1px solid #000;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
}
.carrito .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #fff;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }






  /************************************************************************************/

  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
  }
  
  a {
      text-decoration: none;
  }
  
  .header {
    position: fixed;
    height: 180px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
}

.nav {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.nav,
.nav_items {
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: space-between;
}

.nav_logo,
.nav_link,
.button {
    color: #744d06;
    font-size: 30px;
    font-weight: bold;
}
  
  .home {
      position: relative;
      height: 100vh;
      width: 100%;
      background-image: url("");
      background-position: center;
      background-size: cover;
  }
  
  .nav_logo {
    font-size: 25px;
}

.nav_items {
    column-gap: 25px;
}

.nav_link:hover {
    color: #d0ff00;
    transition: 0.8s ease;
}

.button {
    padding: 4px 25px;
    border: 3px solid #fff;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
} 

.home::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}

.home.show::before {
    opacity: 1;
    pointer-events: auto;
}

.form_container {
    position: fixed;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-out;
}

.home.show .form_container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.signup_form {
    display: none;
}

.form_container.active .signup_form {
    display: block;
}

.form_container.active .login_form {
    display: none;
}

.form_close {
    position: relative;
    top: 5px;
    right: 20px;
    color: #0b0217;
    opacity: 0.7;
    cursor: pointer;
}

.form_container h2 {
  font-size: 20px;
  font-weight: 105%;
  color: #fff;
  position: absolute;
  font-weight: 1000;
  top: -30%; /* Ajusta este valor según sea necesario */
}

.input_box {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 15px;
}

.input_box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #000;
}

.input_box input:focus {
    border-color: #f80202;
}

.input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #000;
}

.input_box i.email,
.input_box i.password {
    left: 0;
}

.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
    color: #fc0000;
}

.input_box i.pw_hide {
    right: 0;
    font-size: 18px;
    cursor: pointer;
}

.option_field {
    margin: 50px;
    display: relative;
    align-items: center;
    justify-content: space-between;
    left: -10%;
}

.form_container a {
    color: #ff0000;
    font-size: 12px;
}

.form_container a:hover {
    text-decoration: underline;
}

.checkbox {
    display: flex;
    columns: 8px;
    white-space: nowrap;
}

.checkbox input {
    accent-color: #f80000;
}

.checkbox label {
    font-size: 15px;
    cursor: pointer;
    user-select: none;
    color: #0b0217;
}

.form_container .button {
    background-color: #ff0000;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}

.login_signup {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

  
parte de la letra de fondo 
.form_container a {
    color: #000;
    font-size: 12px;
}

letra titilo
.form_container h2 {
    font-size: 20px;
    font-weight: 105%;
    color: #ffffff;
    position: absolute;
    font-weight: 1000;
    top: -30%; /* Ajusta este valor según sea necesario */
}


.form_container a {
    color: #fff;
    font-size: 12px;
}


.form_container h2 {
    font-size: 20px;
    font-weight: 105%;
    color: #fff;
    position: absolute;
    font-weight: 1000;
    top: -30%; /* Ajusta este valor según sea necesario */
}



.form_container .button {
    background-color: #000;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}


.form_close {
    position: relative;
    top: 5px;
    right: 20px;
    color: #fff;
    opacity: 0.7;
    cursor: pointer;
}







.button {
    color: #fff; /* Color de la letra por defecto */
}

/* Estilo para el botón cuando la sesión está cerrada */
.button.sesion-cerrada {
    color: red; /* Cambia el color de la letra al cerrar sesión */
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin-right: 10px; /* Espacio entre los íconos */
}

.social-icons i {
    font-size: 24px; /* Tamaño de los íconos */
    color: #744d06; /* Color de los íconos por defecto */
    transition: color 0.3s ease; /* Agregar una transición suave */
    font-size: 30px;
    font-weight: bold;
}

.social-icons i:hover {
    color: #d0ff00; /* Cambiar el color al pasar el cursor */
}

h6{
    font-weight: 1000;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
  
    right: -45%;
    top: 95%;
    color: #000;
}
.descripcion-item {
    display: none; /* Oculta la descripción por defecto */
}